.pytest_cache
__pycache__

.coverage
htmlcov

# ettei exportatut tiedostot tule vahingossa repoon mukaan
*.bib

# robot frameworkin outputit
output.xml
log.html
report.html
interactive_console_output.xml
